PORT=3000

# Agora Config
AGORA_APP_ID=54381d815bd74264923f243e5a1f0660
AGORA_APP_CERTIFICATE=your_agora_app_certificate_here

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=359217744855482
CLOUDINARY_API_SECRET=eTG0UvW_hdsHm4hl0r2XJCvidR0
