*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Node dependencies
calling-app-backend/node_modules/

# Local env files
calling-app-backend/.env

# Sensitive credentials
calling-app-backend/serviceAccountKey.json

# Android build outputs
**/build/
build/

