<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SE114_CallingSystem">
        <activity
            android:name=".CallActivity"
            android:exported="false" />
        <activity
            android:name=".item_call_participant"
            android:exported="false" />
        <activity
            android:name=".bottom_sheet_server_settings"
            android:exported="false" />
        <activity
            android:name=".Document_viewer"
            android:exported="false" />
        <activity
            android:name=".Image_viewer"
            android:exported="false" />
        <activity
            android:name=".activity_image_viewer"
            android:exported="false" />
        <activity
            android:name=".item_chat_bubble_receive"
            android:exported="false" />
        <activity
            android:name=".Chat_detail"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Call_detail"
            android:exported="false" />
        <activity
            android:name=".list_item_chat_channels"
            android:exported="false" />
        <activity
            android:name=".list_item_servers"
            android:exported="false" />
        <activity
            android:name=".Server_on_click"
            android:exported="false" />
        <activity
            android:name=".Default_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>